.authorList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start
}


.authorItem{
    display: flex;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
}

.authorItemInfo{
    margin-left: 20px;
}

