.box{
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px rgb(191, 191, 191);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 10px 10px 25px;
    background: #fff;
    transition: .7s;
    overflow: hidden;
}

.clockdown{
    position: absolute;
    font-size: .8rem;
    right: 20px;
    background: #fff;
    padding: 6px 10px;
    border-radius: 30px;
    border: 2px solid #8364e2;
    z-index: 1;
    color: #0d0c22;
}

.img{
    height: 250px;
    width: 310px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.imgNFT{
    width: 80%;
    object-fit: cover;
}

.bottomBoxItem{
    padding-top: 30px;
}

.title{
    font-weight: bold;
    font-size: 15px;
}

.priceBox{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.address{
    color: #000000;
    font-size: 13px;
}

.price{
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: #000000;
}

.quantity{
    margin-left: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place{
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #8364e2;
}

.heart{
    color: #727272;
    margin-right: 5px;
}

.heart:hover{
    color: rgb(255, 89, 89);
}


.input{
    padding: .2rem .5rem;
    outline: none;
    border: none;
}

.btn {
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 15px;
    min-width: 100px;
    padding: 10px 20px;
    background: #656868;
    text-decoration: none;
    color: #f6f6f6;
    border-radius: 10px;
}
